*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
etl/migrations
recommender/migrations
.idea/
api_secrets.json
venv/*
new_train_rating_data.csv
real_place_data.csv
train_rating_data.csv

